.text-color-1 {
    color: #F3EEEA;
}

.text-color-2 {
    color: #EBE3D5;
}

.text-color-3 {
    color: #B0A695;
}

.text-color-4 {
    color: #776B5D;
}

.text-color-gray {
    color: #676F77;
}

.bg-color-1 {
    background-color: #F3EEEA;
}

.bg-color-2 {
    background-color: #EBE3D5;
}

.bg-color-3 {
    background-color: #B0A695;
}

.bg-color-4 {
    background-color: #776B5D;
}

.bg-color-gray {
    background-color: #676F77;
}

.user-icon {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    border: 1px solid #cccccc;
}

.user-icon:hover {
    transform: scale(1.05, 1.05);
}
.del-tag:hover{
    background: linear-gradient(135deg, rgb(198, 198, 198), rgb(166, 166, 166));
    background-color: #868a8e;
}

/* ブラウザによって自動で余白を追加される可能性があるので*/
.p0 {
    padding: 0;
}

.rounded-top-L{
    border-top-right-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.rounded-top-R{
    border-top-right-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

/* Phone ScreenSize */
@media(max-width:750px) {
    .logo {
        width: 144px;
        height: 36px;
    }
    .post-icon{
        border-radius: 50%;
        width:40px;
        height:40px;
    }
    .interaction-button {
        padding: 5px 15px;
        border-radius: 20px;
        cursor: pointer;
        font-size: 90%;
    }
    .post-image{
        border-radius: 5px;
        width:100%;
        height:100%;
    }
    .body-margin {
        margin-top: 15vh;
        margin-bottom: 15vh;
    }
    .post-margin {
        padding-left: 0;
        margin-left: 0;
    }
}

/* PC ScreenSize */
@media(min-width:751px) {
    .logo {
        width: 120px;
        height: 30px;
    }
    .post-icon{
        border-radius: 50%;
        width:50px;
        height:50px;
    }
    .interaction-button {
        padding: 5px 15px;
        border-radius: 20px;
        cursor: pointer;
    }
    .post-image{
        border-radius: 5px;
        width:100%;
        height:100%;
    }
    .body-margin {
        margin-top: 20vh;
        margin-bottom: 20vh;
    }
    .post-margin {

    }
}

/* {{ asset('index.css') }}*/

.no-underline {
    text-decoration: none;
}

.post-body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;}




/* サイドバー全体のスタイル */
.sidebar {
    background-color: #f2f2f2; /* 背景色 */
    padding: 20px; /* 内側の余白 */
}

/* サイドバー内のリストのスタイル */
.sidebar ul {
    list-style: none; /* 箇条書きのマーカーを消す */
    padding: 0;
}

/* リスト項目のスタイル */
.sidebar ul li {
    margin-bottom: 10px; /* 項目間の余白 */
}

/* リンクのスタイル */
.sidebar ul li a {
    text-decoration: none; /* 下線を消す */
    color: #333; /* リンクの色 */
}

/* リンクにホバーした際のスタイル */
.sidebar ul li a:hover {
    color: #555; /* ホバー時の色 */
}

.reply-btn {
    background-color: #1da1f2;
    color: #fff;
    border: none;
}
.reply-btn:hover {
    background-color: #016db0;
    color: #ffffff;
    transition: 0.3s;
    border: none;
}

.circle-btn {
    border-radius: 50%;
    width:50px;
    height:50px;
}
.circle-btn:hover {
    transform: scale(1.05, 1.05);
}

.sidebar {
    position: fixed; /* サイドバーを固定 */
    top: 2; /* 上端からの位置 */
    left: 0; /* 左端からの位置 */

    height: 100%; /* サイドバーの高さ */
    overflow-y: auto; /* 縦スクロールを有効にする */
    background-color: #f5f5f5; /* サイドバーの背景色 */
}
.sidebar.sidebar-closed {
    transform: translateX(-100%); /* サイドバーを左に移動して非表示にする */
}

.sidebar.sidebar-open {
    transform: translateX(0); /* サイドバーを表示 */
}
